<!DOCTYPE html>
{% load static %}

<head>
    <title>{% block title %}Kolayını Bul{% endblock %} | Uzayda Kaybolma Aradığını Bul!</title>
    <meta name="description" content="{% block meta_description %}{% endblock %}">
    {% include 'base/components/head.html' %}
</head>

<body>
<section>
    {% if messages %}
        {% for message in messages %}
            <div {% if message.tags %} class="alert-box alert-box--{{ message.tags }}"{% endif %}> {{ message }}
                <i class="fa fa-times alert-box__close"></i>
            </div>
        {% endfor %}
    {% endif %}
</section>

{% include 'base/components/navbar.html' %}
{% include 'base/components/breadcrumb.html' %}

<div id="all">





            {% block body %}


            {% endblock body %}



{% include 'base/components/s-extra-footer-top.html' %}
{% include 'base/components/footer.html' %}

{% include 'base/components/preloader.html' %}
{% include 'base/components/scripts.html' %}
{% block footer_extra_scripts %}
{% endblock %}


</body>