{% extends "base/layout.html" %}
{% load static %}
{% include 'base/components/scripts.html' %}
{% block title %}Login - {{ block.super }}{% endblock %}


{% block body %}


    <section class="s-content">
        {% csrf_token %}
        <div class="row" style="
        display: flex;
        justify-content: center;
        flex-flow:row wrap;
text-align: center;">
            <div class="col-six tab-full">
                <h3 class="add-bottom">Şifremi Değiştir</h3>
                <form method="post" action="{% url 'user:change_password' %}">
                    <div>
                        {% csrf_token %}
                        {{ form }}
                        <input type="hidden" name="next" value="{{ request.GET.next }}"/>
                    </div>
                    <input class="btn--primary" type="submit" value="Submit">
                </form>
            </div>
        </div>
    </section>

{% endblock %}

