{% extends "base/layout.html" %}
{% load static %}
{% include 'base/components/scripts.html' %}
{% block title %}Giriş - {{ block.super }}{% endblock %}


{% block body %}
    <section class="s-content">
        {% csrf_token %}
        <div class="row" style="
        display: flex;
        justify-content: center;
        flex-flow:row wrap;
text-align: center;">
            <div class="col-six tab-full">
                <h3 class="add-bottom">Login</h3>
                <form method="post" action="{% url 'user:login' %}">
                    <div>
                        {% csrf_token %}
                        {{ form }}
                        <input type="hidden" name="next" value="{{ request.GET.next }}"/>
                    </div>


                    <button type="submit" class="btn--primary">


                        Login

                    </button>
                    <hr>


                        <a href="{% url 'user:reset_password' %}" style="width: 430px;line-height: 1.9rem;"
                           class="button" role="button">Parolamı Unuttum :(</a>
                    <hr>
                        <a href="{% url 'user:sign_up' %}" style="width: 430px;line-height: 1.9rem;"
                           class="button" role="button">Üye Ol</a>





                </form>

            </div>

        </div>
    </section>

{% endblock %}

