{% extends "base/layout.html" %}
{% load static %}
{% include 'base/components/scripts.html' %}
{% block title %}Giriş - {{ block.super }}{% endblock %}


{% block body %}
    <section class="s-content">
        {% csrf_token %}
        <div class="row" style="
        display: flex;
        justify-content: center;
        flex-flow:row wrap;
text-align: center;">
            <div class="col-six tab-full">
                <br>
                <form method="post" action="{% url 'user:login' %}">
                    <div>
                        {% csrf_token %}
                        {{ form.media }}
                        {{ form }}
                        <input type="hidden" name="next" value="{{ request.GET.next }}"/>
                    </div>


                    <button type="submit" class="btn--primary">


                        Giriş

                    </button>
                    <hr>

                    <a href="{% url 'user:sign_up' %}"
                       class="btn btn--stroke" role="button">Üye Ol</a>
                    <hr>
                    <a href="{% url 'password_reset' %}"
                       class="btn btn-primary" role="button">Parolamı Unuttum :(</a>


                </form>

            </div>

        </div>
    </section>

{% endblock %}

