{% extends "base/layout.html" %}
{% load static %}
{% include 'base/components/scripts.html' %}
{% block title %}{{ post.title }} - {{ block.super }}{% endblock %}

{% block body %}

    <section class="s-content" style="padding-top: 0px">
        <section id="styles" class="s-styles">

            <div class="row narrow section-intro add-bottom text-center">

                <div class="col-full tab-full">


                    <h1 style="font-size: 4.3rem;">{{ post.title|upper }}</h1>
                    <div class="row bottom tags-wrap">
                        <div class="col-full tags">
                            <div class="tagcloud">
                                {% for a in tag %}
                                    <a href="#0">{{ a.sub_category_name }}</a>
                                {% endfor %}

                            </div>
                        </div> <!-- end tags -->
                    </div> <!-- end tags-wrap -->
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-full tab-full">
                    <p>
                        {{ post.description|safe }}
                    </p>
                </div>
                <hr>
                <div class="caption-container">
                    <div class="col-six table-responsive">
                <div class="s-content__author">
                    <img src="{{ post.author.profile.avatar.url }}" alt="">

                    <div class="s-content__author-about">
                        <h4 class="s-content__author-name">
                            <a href="{% url 'user:profile' slug=post.author.profile.slug %}">{{ post.author }}</a>
                        </h4>

                        <p>{{ post.author.profile.bio }}
                        </p>

                        <ul class="s-content__author-social">
                            <li><a href="#0">Facebook</a></li>
                            <li><a href="#0">Twitter</a></li>
                            <li><a href="#0">GooglePlus</a></li>
                            <li><a href="#0">Instagram</a></li>
                        </ul>
                    </div>
                </div>
            </div>
                </div></div>


        </section>
    </section>
{% endblock body %}