{% extends "base/layout.html" %}
{% load static %}
{% include 'base/components/scripts.html' %}
{% block title %}{{ post.title }} - {{ block.super }}{% endblock %}

{% block body %}

    <section class="s-content" style="padding-top: 0px">
        <section id="styles" class="s-styles">

            <div class="row narrow section-intro add-bottom text-center">

                <div class="col-full tab-full">


                    <h1 style="font-size: 4.3rem;">{{ post.title|upper }}</h1>
                    <div class="row bottom tags-wrap">
                        <div class="col-full tags">
                            <div class="tagcloud">
                                {% for a in tag %}
                                    <a href="#0">{{ a.sub_category_name }}</a>
                                {% endfor %}

                            </div>
                        </div> <!-- end tags -->
                    </div> <!-- end tags-wrap -->
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-full tab-full">
                    <p>
                        {{ post.description|safe }}
                    </p>
                </div>
                <hr>
                {% if post.sources %}
                    <h3>Kaynaklar:</h3>
                    <a href="{{ post.sources }}">{{ post.sources }}</a>
                    <br>
                    <hr>
                {% else %}

                {% endif %}

                <!-- Author Details -->
                <div class="caption-container">
                    <div class="col-six table-responsive" style="border: #EFC702 dashed 2px">
                        <div class="s-content__author" style="padding-top: -5px">
                            <img src="{{ post.author.profile.avatar.url }}" alt="" style="padding-top: 1px">
                            <br>
                            <div class="s-content__author-about">
                                <h4 class="s-content__author-name">
                                    <a href="{% url 'user:profile' slug=post.author.profile.slug %}">{{ post.author }}</a>
                                </h4>
                                {% if post.author.profile.bio %}

                                    <p>{{ post.author.profile.bio }}
                                    </p>

                                {% else %}

                                {% endif %}
                                <hr>

                                <!--
                                <ul class="s-content__author-social">
                                    <li><a href="#0" target="_blank"><i class="fab fa-stack-overflow"></i></a></li>
                                    <li><a href="#0" target="_blank"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#0" target="_blank"><i class="fab fa-github"></i></a></li>
                                    <li><a href="#0" target="_blank"><i class="fab fa-instagram"></i></a></li>
                                </ul>
                                -->
                            </div>
                        </div>
                        <div class="text-center">
                            {% if post.author.profile.github_profile %}
                                <a href="{{ post.author.profile.github_profile }}" target="_blank"><img
                                        style="width: 24px"
                                        src="{% static 'icons/github.png' %}"
                                        alt=""></a>
                            {% else %}
                            {% endif %}
                            {% if post.author.profile.linkedin_profile %}
                                <a href="{{ post.author.profile.linkedin_profile }}" target="_blank">
                                    <img style="width: 24px" src="{% static 'icons/linkedin.png' %}" alt=""></a>
                            {% else %}
                            {% endif %}

                            {% if post.author.profile.stack_overflow_profile %}
                                <a href="{{ post.author.profile.stack_overflow_profile }}" target="_blank">
                                    <img style="width: 24px" src="{% static 'icons/stack-overflow.png' %}" alt=""></a>
                            {% else %}
                            {% endif %}

                            {% if post.author.profile.twitter_profile %}
                                <a href="{{ post.author.profile.twitter_profile }}" target="_blank">
                                    <img style="width: 24px" src="{% static 'icons/twitter.png' %}" alt=""></a>
                            {% else %}
                            {% endif %}

                            {% if post.author.profile.instagram_profile %}
                                <a href="{{ post.author.profile.instagram_profile }}" target="_blank">
                                    <img style="width: 24px" src="{% static 'icons/instagram.png' %}" alt=""></a>
                            {% else %}
                            {% endif %}

                            {% if post.author.profile.skype_profile %}
                                <a href="{{ post.author.profile.skype_profile }}" target="_blank">
                                    <img style="width: 24px" src="{% static 'icons/skype.png' %}" alt=""></a>
                            {% else %}
                            {% endif %}

                            {% if post.author.profile.spotify_profile %}
                                <a href="{{ post.author.profile.spotify_profile }}" target="_blank">
                                <img style="width: 24px" src="{% static 'icons/spotify.png' %}" alt=""></a>
                            {% else %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <!-- Author Details end-->

        </section>
    </section>
{% endblock body %}