{% extends "base/layout.html" %}
{% load static %}
{% include 'base/components/scripts.html' %}
{% block title %}Yeni Post - {{ block.super }}{% endblock %}

{% block body %}
    <section class="s-content" style="padding-top: 0px">
        <section id="styles" class="s-styles">
            <div class="row">
                <div class="col-full tab-full">
                    <div class="heading">
                        <h2>Yeni Post Yaz</h2>
                    </div>
                    <hr>

                    <form method="post" novalidate>
                        {% csrf_token %}
                        {{ form.media }}
                        {{ form }}
                        <br>
                        <button type="submit" class="btn btn--primary full-width">Paylaş!</button>
                    </form>

                </div>
            </div>

        </section>
    </section>


{% endblock body %}
