{% extends "base/layout.html" %}
{% load static %}
{% include 'base/components/scripts.html' %}
{% block title %}İş İlanlarım - {{ block.super }}{% endblock %}

{% block body %}

<section class="s-content" style="padding-top: 0px">
        <section id="styles" class="s-styles">
            <br>


            <div class="row add-bottom">
                <h3>Yayınladığım İş İlanlarım</h3>
                <div class="col-twelve">
                    <div class="table-responsive">

                        <table>
                            <thead>
                            <tr>

                                <th style="text-align: center">Pozisyon</th>
                                <th style="text-align: center">Firma Adı</th>
                                <th style="text-align: center">Kategori</th>
                                <th style="text-align: center">Alt Kategori</th>
                                <th style="text-align: center">İlan Tarihi</th>
                                <th style="text-align: center">Çalışma Türü</th>
                                <th style="text-align: center"></th>


                            </tr>
                            </thead>
                            <tbody>
                            {% for job in jobs %}
                                <tr>

                                    <td><a href="{% url 'jobs:detail' slug=job.slug %}">{{ job.title }}</a></td>
                                    <td>{{ job.company_name }}</td>
                                    <td>{{ job.category }}</td>
                                    <td>{{ job.sub_category }}</td>
                                    <td>{{ job.created_date|date:"F d, Y"  }}</td>
                                    <td>{{ job.get_type_display }}</td>
                                    <td>{{ job.get_term_display }}</td>
                                <td><a class="btn btn-primary" href="{% url 'jobs:update' slug=job.slug %}">İlanı Düzenle</a></td>
                                {% if job.job_status == 2 %}
                                        <td><a href="{% url 'jobs:delete' slug=job.slug %}" class="btn btn-info">Yayından
                                            Kaldır</a>
                                            {% else %}
                                        <td>
                                        <a href="{% url 'jobs:delete' slug=job.slug %}" class="btn btn-info">Yayına
                                            Al</a>
                                    {% endif %}


                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>

                    </div>

                </div>

            </div> <!-- end row -->
        </section>
    </section>

{% endblock body %}