{% extends "base/layout.html" %}
{% load static %}
{% include 'base/components/scripts.html' %}
{% block title %}Profilim - {{ block.super }}{% endblock %}



{% block body %}


    <section class="s-content" style="padding-top: 0rem">
        <section id="styles" class="s-styles">
            <hr>
            <div class="container bootstrap snippet">
                <div class="row">

                    <div class="col-sm-3" style="border: #EFC702 dashed 2px; padding: 19px"><!--left col-->
                    <a class="btn btn-primary" href="{% url 'user:update_profile' %}">Profilini Güncelle</a>
                        <div class="text-center">
                            <h1 align="center">{{ profile_detail.user }}</h1>
                            <img src="{{ profile_detail.avatar.url }}" class="avatar img-circle img-thumbnail"
                                 alt="avatar" style="width: 150px;height: 150px">
                        </div>
                        <div style="text-align: justify;word-wrap: break-spaces;width: 155px">
                            <hr>
                            <p>{{ profile_detail.bio }}</p>
                        </div>
                        <hr>
                        <ul class="disc">
                            <li class="list-group-item text-right"><span
                                    class="pull-left"><strong>Postlar</strong></span>{{ user_posts.count }}</li>
                            <li class="list-group-item text-right"><span class="pull-left"><strong>İş İlanları</strong></span>{{ user_jobs.count }}
                            </li>
                            <li class="list-group-item text-right"><span
                                    class="pull-left"><strong>Takipçiler</strong></span> 0
                            </li>
                            <li class="list-group-item text-right"><span
                                    class="pull-left"><strong>Takip Ettikleri</strong></span> 0
                            </li>
                        </ul>
                        <div class="panel panel-default" align="center">
                            <hr>
                            <div class="panel-body">
                                {% if profile_detail.github_profile %}
                                    <a href="{{ profile_detail.github_profile }}" target="_blank"><img
                                            style="width: 24px"
                                            src="{% static 'icons/github.png' %}"
                                            alt=""></a>
                                {% else %}
                                {% endif %}
                                {% if profile_detail.linkedin_profile %}
                                    <a href="{{ profile_detail.linkedin_profile }}" target="_blank">
                                        <img style="width: 24px" src="{% static 'icons/linkedin.png' %}" alt=""></a>
                                {% else %}
                                {% endif %}

                                {% if profile_detail.stack_overflow_profile %}
                                    <a href="{{ profile_detail.stack_overflow_profile }}" target="_blank">
                                        <img style="width: 24px" src="{% static 'icons/stack-overflow.png' %}"
                                             alt=""></a>
                                {% else %}
                                {% endif %}

                                {% if profile_detail.twitter_profile %}
                                    <a href="{{ profile_detail.twitter_profile }}" target="_blank">
                                        <img style="width: 24px" src="{% static 'icons/twitter.png' %}" alt=""></a>
                                {% else %}
                                {% endif %}

                                {% if profile_detail.instagram_profile %}
                                    <a href="{{ profile_detail.instagram_profile }}" target="_blank">
                                        <img style="width: 24px" src="{% static 'icons/instagram.png' %}" alt=""></a>
                                {% else %}
                                {% endif %}

                                {% if profile_detail.skype_profile %}
                                    <a href="{{ profile_detail.skype_profile }}" target="_blank">
                                        <img style="width: 24px" src="{% static 'icons/skype.png' %}" alt=""></a>
                                {% else %}
                                {% endif %}

                                {% if profile_detail.spotify_profile %}
                                    <a href="{{ profile_detail.spotify_profile }}" target="_blank">
                                        <img style="width: 24px" src="{% static 'icons/spotify.png' %}" alt=""></a>
                                {% else %}
                                {% endif %}
                            </div>
                        </div>

                    </div><!--/col-3-->
                    <div class="col-sm-9">
                        <div class="tab-content">
                            <div class="table-bordered">
                                <br><br><br>
                                <a href="{% url 'my_posts' %}"><h6>Yayınladığım Postlarım</h6></a>
                                <ul>
                                    {% for post in user_posts %}
                                    <li>
                                        <a href="{% url 'posts:detail' slug=post.slug %}">{{ post.title }}</a>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        <div class="table-bordered">
                                <br><br><br>
                                <a href="{% url 'my_jobs' %}"><h6>Yayınladığım İş İlanlarım</h6></a>
                                <ul>
                                    {% for job in user_jobs %}
                                    <li>
                                        <a href="{% url 'jobs:detail' slug=job.slug %}">{{ job.title }}</a>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>


                        </div><!--/tab-pane-->
                    </div><!--/tab-content-->

                </div><!--/col-9-->
            </div><!--/row-->


        </section>
    </section>

{% endblock %}

