{% extends "base/layout.html" %}
{% load static %}
{% include 'base/components/scripts.html' %}
{% block title %}My Profile - {{ block.super }}{% endblock %}

{% block body %}

    <section class="s-content" style="padding-top: 0px">
        <section id="styles" class="s-styles">
            <br>


            <div class="row add-bottom">
                <h1>Tüm Yazılarım</h1>
                <div class="col-twelve">
                    <div class="table-responsive">

                        <table>
                            <thead>
                            <tr>
                                <th style="text-align: center">Başlık</th>
                                <th style="text-align: center">Kategori</th>
                                <th style="text-align: center">Alt Kategori</th>
                                <th style="text-align: center">Eklenme Tarihi</th>
                                <th style="text-align: center">Durum</th>
                                <th style="text-align: center">Okunma</th>
                                <th style="text-align: center">Beğenme</th>


                            </tr>
                            </thead>
                            <tbody>
                            {% for post in posts %}
                                <tr>
                                    <td><a href="{% url 'posts:detail' slug=post.slug %}">{{ post.title }}</a></td>
                                    <td>{{ post.category }}</td>
                                    <td>{{ post.sub_category }}</td>
                                    <td>{{ post.created_date }}</td>
                                    {% if post.active_post == 2 %}
                                        <td>Aktif</td>
                                    {% else %}
                                        <td>Arşivlenmiş</td>
                                    {% endif %}

                                    <td>17763</td>
                                    <td>4543</td>
                                    <td><a href="{% url 'posts:update' slug=post.slug %}"
                                           class="btn btn-info">Düzenle</a></td>
                                    {% if post.active_post == 2 %}
                                        <td><a href="{% url 'posts:delete' slug=post.slug %}" class="btn btn-info">Yayından
                                            Kaldır</a>
                                            {% else %}
                                        <td>
                                        <a href="{% url 'posts:delete' slug=post.slug %}" class="btn btn-info">Yayına
                                            Al</a>
                                    {% endif %}
                                    </td>

                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>

                    </div>

                </div>

            </div> <!-- end row -->
        </section>
    </section>
{% endblock body %}