{% load static %}


<!-- s-footer
================================================== -->
<footer class="s-footer">

    <div class="s-footer__main">
        <div class="row">

            <div class="col-two md-four mob-full s-footer__sitelinks">

                <h4>Hızlı Linkler</h4>

                <ul class="s-footer__linklist">
                    <li><a href="{% url 'index' %}">Anasayfa</a></li>
                    <li><a href="{% url 'index' %}">Kategoriler</a></li>
                    <li><a href="{% url 'job_page_coming_soon' %}">İş İlanları</a></li>
                    <li><a href="{% url 'about_us' %}">Biz Kimiz?</a></li>
                    <li><a href="{% url 'contact_us' %}">İletişim</a></li>
                    <li><a href="{% url 'privacy_page' %}">Gizlilik Politikamız</a></li>


                </ul>

            </div> <!-- end s-footer__sitelinks -->


            <div class="col-two md-four mob-full s-footer__social">

                <h4>Sosyal Medya</h4>

                <ul class="s-footer__linklist">
                    <li><a target="_blank" href="https://github.com/mindlabcore">GitHub</a></li>
                    <li><a target="_blank" href="https://www.instagram.com/kolayinibul">Instagram</a></li>
                    <li><a target="_blank" href="https://twitter.com/kolayinibul">Twitter</a></li>
                    <li><a target="_blank" href="https://www.facebook.com/kolayinibul/">Facebook</a></li>
                    <!--<li><a href="#0">LinkedIn</a></li> -->
                </ul>

            </div> <!-- end s-footer__social -->

            <div class="col-five md-full end s-footer__subscribe">

                <h4>E-Posta Aboneliği</h4>

                <p>Şimdilik e-posta aboneliğimiz yok, buraya e-postanızı yazsanız bile hiçbir şey yapmayacağız SÖZ!.
                    Çünkü neden yapalım?</p>

                <div class="subscribe-form">
                    <form id="mc-form" class="group" novalidate="true">

                        <input type="email" value="" name="EMAIL" class="email" id="mc-email"
                               placeholder="E-Posta Adresi" required="">

                        <input type="submit" name="subscribe" value="Gönder">

                        <label for="mc-email" class="subscribe-message"></label>

                    </form>
                </div>

            </div> <!-- end s-footer__subscribe -->

        </div>
    </div> <!-- end s-footer__main -->

    <div class="s-footer__bottom">
        <div class="row">
            <div class="col-full">
                <div class="s-footer__copyright">
                    <span>© Copyright Kolayını Bul 2018</span><span>Founded by Mind Lab Co. 2018</span>

                    <span>Site Template by <a href="https://colorlib.com/">Colorlib</a></span>
                    <span>Coded with love by <a href="https://www.python.org/" target="_blank">Python 3.6</a> &nbsp<i
                            class="fas fa-heart"></i></span>
                    <span> <div>Icons made by <a href="https://www.freepik.com/" title="Freepik">Freepik</a> from <a
                            href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a
                            href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0"
                            target="_blank">CC 3.0
        BY</a></div></span>

                </div>

                <div class="go-top">
                    <a class="smoothscroll" title="Back to Top" href="#top"></a>
                </div>
            </div>
        </div>
    </div> <!-- end s-footer__bottom -->

</footer> <!-- end s-footer -->