{% load static %}

<body id="top">

<!-- pageheader
================================================== -->
<section class="s-pageheader s-pageheader--home">

    <header class="header">
        <div class="header__content row">

            <div class="header__logo">
                <a class="logo" href="{% url "index" %}">
                    <img class="masaustuLogo" style="width: 120px; height: 120px"
                         src="{% static 'logo/1781596764_b4fdb39e-54f8-49cd-b7db-7fe8b753a9f5 (1).png' %}"
                         alt="Homepage">

                    <img class="mobileLogo" style="width: 120px; height: 50px"
                         src="{% static 'logo/MobileLogo2.png' %}"
                         alt="Homepage">

                </a>
            </div> <!-- end header__logo -->

            <ul class="header__social">

                <li>
                    <a href="https://www.facebook.com/kolayinibul/" target="_blank"><i
                            class="fab fa-facebook-f"></i></a>
                </li>
                <li>
                    <a href="https://twitter.com/kolayinibul" target="_blank"><i class="fab fa-twitter"></i></a>
                </li>
                <li>
                    <a href="https://www.instagram.com/kolayinibul" target="_blank"><i class="fab fa-instagram"></i></a>
                </li>

                <li>
                    <a href="https://github.com/mindlabcore" target="_blank"><i class="fab fa-github"></i></a>
                </li>

            </ul> <!-- end header__social -->

            <a class="header__search-trigger" href="#0"></a>

            <div class="header__search">

                <form role="search" method="get" class="header__search-form" action="{% url 'search_view' %}">
                    <label>
                        <span class="hide-content">Ne arıyorsun?</span><br>
                        <input type="search" class="search-field" placeholder="Bir şeyler yaz!" value="" name="s"
                               title="Search for:" autocomplete="on" id="search_def">
                    </label>
                    <input type="submit" class="search-submit" value="Search">
                </form>

                <a href="#0" title="Close Search" class="header__overlay-close">Close</a>

            </div>  <!-- end header__search -->


            <a class="header__toggle-menu" href="#0" title="Menu"><span>Menu</span></a>

            <nav class="header__nav-wrap">

                <h2 class="header__nav-heading h6">Site Navigation</h2>

                <ul class="header__nav">
                    <li class="has-children">
                        <a href="#0" title="">Kategoriler</a>
                        <ul class="sub-menu">
                            {% for category in categories %}
                                <li><a class=""
                                       href="{% url 'categories' slug=category.slug %}">{{ category.category_name }}</a>


                                    <ul class="sub-menu">

                                        {% for sub_category in category.subcategories.all %}
                                            <a class="" href="{% url 'categories:subcategories' slug=sub_category.slug %}">
                                                {{ sub_category }}
                                            </a>
                                        {% endfor %}

                                    </ul>


                                </li>
                            {% endfor %}
                        </ul>
                    </li>
                    <li><a href="{% url 'job_page_coming_soon' %}" title="">İş İlanları</a></li>
                    <li><a href="{% url 'about_us' %}" title="">Biz Kimiz?</a></li>
                    <li><a href="{% url 'contact_us' %}" title="">İletişim</a></li>

                    {% if request.user.is_authenticated %}
                        <li class="has-children">
                            <a href="#0" title="">{{ request.user.username }}</a>
                            <ul class="sub-menu">
                                <li><a href="{% url 'my_profile' %}">Yazılarım</a></li>
                                <li><a href="{% url 'user:change_password' %}">Şifremi Değiştir</a></li>
                                <li><a href="{% url 'user:logout' %}">Çıkış Yap</a></li>
                            </ul>
                        </li>

                    {% else %}
                        <li><a href="{% url 'user:login' %}" title="">Giriş Yap</a></li>
                        <li><a href="{% url 'user:sign_up' %}" title="">Kayıt Ol</a></li>


                    {% endif %}
                    <li>
                        <a href="{% url 'posts:add_post' %}" class="writeButton"
                           style="color:#000000; text-align: center">Kolayını
                            Yaz</a>
                    </li>
                </ul>
                <!-- end header__nav -->

                <a href="#0" title="Close Menu" class="header__overlay-close close-mobile-menu">Close</a>

            </nav> <!-- end header__nav-wrap -->

        </div>
        <!-- header-content -->
    </header> <!-- header -->
    <hr>

    {% url 'index' as current_url %}
    {% if request.get_full_path == current_url %}
        {% include 'base/components/page_header_content.html' %}
    {% else %}
    {% endif %}

</section>