{% load static %}

<div class="pageheader-content row">
        <div class="col-full">

            <div class="featured">

                <div class="featured__column featured__column--big">
                    <div class="entry" style="background-image:url('{% static 'images/thumbs/featured/featured-guitarman.jpg'%}');">

                        <div class="entry__content">

                            <span class="entry__category"><a href="#">{{ big_box.category }}</a></span>

                            <h1><a href="{% url 'posts:detail' slug=big_box.slug %}" title="">{{ big_box.title }}</a></h1>

                            <div class="entry__info">
                                <a href="{% url 'index' %}" class="entry__profile-pic">
                                    <img class="avatar" src="{{ big_box.author.profile.avatar.url }}" alt="">
                                </a>

                                <ul class="entry__meta">
                                    <li><a href="#0">{{ big_box.author }}</a></li>
                                    <li>{{ big_box.created_date|date:"F d, Y" }}</li>
                                </ul>
                            </div>
                        </div> <!-- end entry__content -->


                    </div> <!-- end entry -->
                </div> <!-- end featured__big -->

                <div class="featured__column featured__column--small">
                    <div class="entry" style="background-image:url('{% static 'images/thumbs/featured/featured-watch.jpg'%}');">
                        <div class="entry__content">
                            <span class="entry__category"><a href="{% url 'index' %}">Robotik</a></span>
                            <h1><a href="{% url 'index' %}" title="">Ardunio ile akıllı saat yönetmek</a></h1>

                            <div class="entry__info">

                                <a href="{% url 'index' %}" class="entry__profile-pic">
                                    <img class="avatar" src="{% static 'images/avatars/user-03.jpg' %}" alt="">
                                </a>

                                <ul class="entry__meta">
                                    <li><a href="{% url 'index' %}">Burak İbiş</a></li>
                                    <li>December 27, 2017</li>
                                </ul>
                            </div>
                        </div> <!-- end entry__content -->

                    </div> <!-- end entry -->

                    <div class="entry" style="background-image:url('{% static 'images/thumbs/featured/featured-beetle.jpg'%}');">

                        <div class="entry__content">
                            <span class="entry__category"><a href="{% url 'index' %}">Otomobil</a></span>

                            <h1><a href="{% url 'index' %}" title="">İkinci el Vosvos kıstırmak</a></h1>

                            <div class="entry__info">
                                <a href="{% url 'index' %}" class="entry__profile-pic">
                                    <img class="avatar" src="{% static 'images/avatars/user-03.jpg' %}" alt="">
                                </a>

                                <ul class="entry__meta">
                                    <li><a href="{% url 'index' %}">Oğuzhan Demir</a></li>
                                    <li>December 21, 2017</li>
                                </ul>
                            </div>
                        </div> <!-- end entry__content -->

                    </div> <!-- end entry -->

                </div> <!-- end featured__small -->
            </div> <!-- end featured -->

        </div> <!-- end col-full -->
    </div> <!-- end pageheader-content row -->