{% extends "base/layout.html" %}
{% load static %}
{% block body %}
    {% include "base/components/carousel.html" %}
<br>


    <section class="s-content">
        <div class="row masonry-wrap" style="margin-top: -64px">
            <div class="masonry">
                <div class="grid-sizer"></div>
                {% for post in posts %}

                    {% if  forloop.counter == 5 %}
                        <h1></h1>

                    {% else %}

                    {% endif %}
                    <article class="masonry__brick entry format-standard" data-aos="fade-up">
                        <div class="entry__thumb">
                            {% if post.image %}
                            <a href="{% url 'posts:detail' slug=post.slug %}" class="entry__thumb-link">
                                <img src="{{ post.image.url }}"

                                     alt="">
                            </a>
                            {% else %}
                            {% endif %}
                        </div>


                        <div class="entry__text" style="padding-bottom: 1rem">
                            <div class="entry__header">


                                <div class="entry__date" style="text-align: right">
                                    <a href="{% url 'posts:detail' slug=post.slug %}">{{ post.created_date|date:"F d, Y" }}</a>

                                </div>
                                <h1 class="entry__title"><a
                                        href="{% url 'posts:detail' slug=post.slug %}">{{ post.title }}</a>
                                </h1>

                            </div>

                            <div class="entry__excerpt">
                                <p>
                                    {{ post.description|striptags|truncatewords:24|safe }}
                                </p>
                            </div>


                            <div class="entry__content">

                                <a href="{% url 'index' %}" class="entry__profile-pic">
                                    <img class="avatar" src="{{ post.author.profile.avatar.url }}" alt="">
                                </a>

                                <div class="entry__date">
                                    <a href="{% url 'user:profile' slug=post.author %}">&nbsp{{ post.author }}</a>

                                </div>
                                <hr>


                                <div class="entry__meta">
                            <span class="entry__meta-links">
                                {% for tag in post.tag.all|slice:":3" %}
                                    <a href="{% url 'categories:subcategories' slug=tag.slug %}">


                                   <img src="{{ tag.sub_category_image.url }}" alt="" title="{{ tag }}"
                                        style="width: 10%">
                                </a>
                                {% endfor %}
                            </span>
                                </div>

                            </div>
                        </div>

                    </article> <!-- end article -->
                {% endfor %}


            </div> <!-- end masonry -->
        </div> <!-- end masonry-wrap -->


        <!-- Pagination Start
            <div class="row">
                <div class="col-full">
                    <nav class="pgn">
                        <ul>
                            <li><a class="pgn__prev" href="#0">Prev</a></li>
                            <li><a class="pgn__num" href="#0">1</a></li>
                            <li><span class="pgn__num current">2</span></li>
                            <li><a class="pgn__num" href="#0">3</a></li>
                            <li><a class="pgn__num" href="#0">4</a></li>
                            <li><a class="pgn__num" href="#0">5</a></li>
                            <li><span class="pgn__num dots">…</span></li>
                            <li><a class="pgn__num" href="#0">8</a></li>
                            <li><a class="pgn__next" href="#0">Next</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
                Pagination END -->

    </section> <!-- s-content -->



{% endblock body %}