{% extends "base/layout.html" %}
{% load static %}
{% include 'base/components/scripts.html' %}
{% block title %}Biz Kimiz? - {{ block.super }}{% endblock %}


{% block body %}
    <section class="s-content s-content--narrow">
        <hr>
        <br>

        <div class="row" style="border: #EFC702 dashed 2px;padding: 12px">

            <div class="col-twelve tab-full">
                <div class="row narrow section-intro add-bottom text-center">
                <h1  style="margin-bottom:-3rem">
                    Bizim Hakkımızda Daha Çok Şey!
                </h1></div>

            <div class="col-full s-content__main">
<div class="row narrow section-intro add-bottom text-center">
                <p class="lead">İnternet bir uzay boşluğu. O kadar çok bilgiye sahibiz ki hiçbir şeye ulaşamıyoruz.
                    Bilgiye ulaşmak için harcadığımız zaman ulaştığımızda elde edeceğimiz faydadan daha faydalı. İşte
                    tam burada yardımına biz koşuyoruz. Çok aramış insanların çok arayan insanlara yaptığı bir iyilik
                    bu. Keyfine bak!</p>
</div>


            </div>
                <div class="row block-1-2 block-tab-full">
                    <div class="col-block">
                        <h3 class="quarter-top-margin">Biz Kimiz?</h3>
                        <p class="drop-cap">Biz kimsesizlerin kimi, sessiz yığınların sesi değiliz. Biz ormanda kaybolduğunda karşına
                            çıkan pusulayız. Biz bildikleriyle yetinmeyenleriz. Bilmenin tamamlanan değil süren bir şey
                            olduğunu düşünenlerdeniz. 7 kıtada 7 dil konuşanların otobüste akbil sormaya utananlara el
                            uzattığı bir dünyada yaşamak istiyoruz.</p>
                    </div>

                    <div class="col-block">
                        <h3 class="quarter-top-margin">Misyonumuz ne?</h3>
                        <p class="drop-cap">
                            Bildiklerimizi paylaşırız. Paylaşanları buluştururuz. Buluşanları kaynaştırırız. Amacımız
                            her bireyi en doğru bilgiye en kısa yoldan ulaştırmak. Bunu yaparken bile öğretmek. Şarkı
                            dinlemekten sıkılmayan ama şarkı yazmayı da denemedim demeyen bireyleri bir araya getirmek
                            istiyoruz.
                        </p>
                    </div>

                    <div class="col-block">
                        <h3 class="quarter-top-margin">Vizyonumuz ne?</h3>
                        <p class="drop-cap">Toplumsal kalıplarından çıkamayan, diretmelere karşı koyamayan insanların kaçış bileti olmak,
                            önyargıları dozerle yıkmak, doğru bilgiye herkesin ulaşabilmesini sağlamak. Elden ele
                            yayalım lütfen!</p>
                    </div>

                    <div class="col-block">
                        <h3 class="quarter-top-margin">Değerlerimiz neler?</h3>
                        <p class="drop-cap">Eşitsizliğin her türünü karşı olmak! Bilginin bile. Mesele şu ki; yorgun hayatlar
                            yaşıyoruz. Bizlere bir nimet gibi sunulan kişiliklerimizin dışına çıkıp diğerlerinin
                            bildiklerini deneyimlemek istiyoruz. Bu yüzden en kıymetli değerimiz bilgiyi toplumun her
                            sınıfına kolayca ulaştırmak.</p>

                        <blockquote>
                            <p>And those who where seen dancing were thought to be insane by those who could not hear the music.</p>
                            <cite>Friederich Nietzsche</cite>
                        </blockquote>
                    </div>

                </div>


            </div> <!-- end s-content__main -->

        </div> <!-- end row -->

    </section> <!-- s-content -->

{% endblock %}

