{% extends "base/layout.html" %}
{% load static %}
{% include 'base/components/scripts.html' %}
{% block title %}İletişim - {{ block.super }}{% endblock %}


{% block body %}

    <section class="s-content s-content--narrow">
        <br> <br>

        <div class="row" style="border: #EFC702 dashed 2px;padding: 12px">

            <div class="s-content__header col-full">
                <h1 class="s-content__header-title">
                    Bize Ulaşmaktan Çekinme
                </h1>
            </div> <!-- end s-content__header -->

            <div class="col-full s-content__main">
                <div class="row">
                    <div class="col-six tab-full">
                        <h3>Neredeyiz?</h3>

                        <p>
                            Westbahnhof, <br>
                            BahnhofCity Wien West,<br>
                            Europaplatz 2/1/2, 1150 <br>
                            Vienna
                        </p>

                    </div>

                    <div class="col-six tab-full">
                        <h3>İletişim Bilgileri</h3>

                        <p>iletisim@kolayinibul.com<br>

                        </p>

                    </div>
                </div> <!-- end row -->
                <hr>
                <h2>Bir sorun mu var? Hemen söyle!</h2>

                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div class="form-actions" style="text-align: center">
                        <button type="submit">Gönder</button>
                    </div>
                </form>


            </div> <!-- end s-content__main -->

        </div> <!-- end row -->

    </section> <!-- s-content -->


{% endblock %}

