{% extends "base/layout.html" %}
{% load static %}
{% include 'base/components/scripts.html' %}
{% block title %}İletişim - {{ block.super }}{% endblock %}


{% block body %}

    <section class="s-content s-content--narrow">
        <br> <br>

        <div class="row" style="border: #EFC702 dashed 2px;padding: 12px">

            <div class="s-content__header col-full">
                <h1 class="s-content__header-title">
                    Bize Ulaşmaktan Çekinme
                </h1>
            </div> <!-- end s-content__header -->

            <div class="col-full s-content__main">
                <div class="row">
                    <div class="col-six tab-full">
                        <h3>Neredeyiz?</h3>

                        <p>
                            Westbahnhof, <br>
                            BahnhofCity Wien West,<br>
                            Europaplatz 2/1/2, 1150 <br>
                            Vienna
                        </p>
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1853.6057591585982!2d16.336636688686!3d48.196533126531484!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x476d07f54746e563%3A0x7a8c58b4cab4af55!2sRegus+-+Vienna+Westbahnhof!5e0!3m2!1str!2str!4v1555444195539!5m2!1str!2str"
                                width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>

                    </div>

                    <div class="col-six tab-full">
                        <h3>İletişim Bilgileri</h3>

                        <p>iletisim@kolayinibul.com<br>

                        </p>

                    </div>
                </div> <!-- end row -->
                <hr>
                <h2>Bir sorun mu var? Hemen söyle!</h2>

                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div class="form-actions" style="text-align: center">
                        <button type="submit">Gönder</button>
                    </div>
                </form>


            </div> <!-- end s-content__main -->

        </div> <!-- end row -->

    </section> <!-- s-content -->


{% endblock %}

