{% extends "base/layout.html" %}
{% load static %}
{% include 'base/components/scripts.html' %}
{% block title %}Gizlilik Politikamız - {{ block.super }}{% endblock %}


{% block body %}

    <section class="s-content s-content--narrow">
        <br> <br>

        <div class="row" style="border: #EFC702 dashed 2px;padding: 12px">

            <div class="s-content__header col-full">
                <h1 class="s-content__header-title">
                    Gizlilik Politikamız
                </h1>
            </div> <!-- end s-content__header -->

            <div class="col-full s-content__main">
                <div class="row">

                        kolayinibul.com sitesi olarak kişisel gizlilik haklarınıza saygı duyuyor ve sitemizde geçirdiğiniz
                        süre zarfında bunu sağlamak için çaba sarfediyoruz. Kişisel bilgilerinizin güvenliği ile ilgili
                        açıklamalar aşağıda açıklanmış ve bilginize sunulmuştur.

                        <h3>KAYIT DOSYALARI</h3>
                        Birçok standard web sunucusunda olduğu gibi kolayinibul.com‘da istatistiksel amaçlı log dosyaları
                        kaydı tutmaktadır. Bu dosyalar; ip adresiniz, internet servis sağlayıcınız, tarayıcınızın
                        özellikleri, işletim sisteminiz ve siteye giriş-çıkış sayfalarınız gibi standard bilgileri
                        içermektedir. Log dosyaları kesinlikle istatistiksel amaçlar dışında kullanılmamakta ve
                        mahremiyetinizi ihlal etmemektedir.Ip adresiniz ve diğer bilgiler, şahsi bilgileriniz ile
                        ilişkilendirilmemektedir.

                        <h3>REKLAMLAR</h3>
                        Sitemizde dışarıdan şirketlerin reklamlarını yayınlamaktayız (Google, v.s.). Bu reklamlar çerez
                        (cookıes) içerebilir ve bu sirketler tarafından çerez bilgileri toplanabilir ve bizim bu bilgiye
                        ulaşmamız mümkün değildir. Biz Google Adsense, vb. şirketler ile çalışmaktayız lütfen onların
                        ilgili sayfalarından gizlilik sözleşmelerini okuyunuz.

                        <h3>ÇEREZLER (COOKİES)</h3>
                        “Cookie – Çerez” kelimesi web sayfası sunucusunun sizin bilgisayarınızın hard diskine
                        yerleştirdiği ufak bir text dosyasını tanımlamak için kullanılmaktadır. Sitemizin bazı
                        bölümlerinde kullanıcı kolaylığı sağlamak için çerez kullanılıyor olabilir. Ayrıca sitede mevcut
                        bulunan reklamlar aracılığıyla, reklam verilerinin toplanması için cookie ve web beacon
                        kullanılıyor olabilir. Bu tamamen sizin izninizle gerçekleşiyor olup, isteğiniz dahilinde
                        internet tarayıcınızın ayarlarını değiştirerek bunu engellemeniz mümkündür.

                        <h3>DIŞ BAĞLANTILAR</h3>
                        kolayinibul.com sitesi, sayfalarından farklı internet adreslerine bağlantı vermektedir. kolayinibul.com
                        link verdiği, banner tanıtımını yaptığı sitelerin içeriklerinden veya gizlilik prensiplerinden
                        sorumlu değildir. Burada bahsedilen bağlantı verme işlemi, hukuki olarak “atıfta bulunma” olarak
                        değerlendirilmektedir.

                        <h3>İLETİŞİM</h3>
                        kolayinibul.com sitesinde uygulanan gizlilik politikası ile ilgili; her türlü soru, görüş ve
                        düşüncelerinizi bize iletisim@kolayinibul.com adresinden iletebilirsiniz.



                </div> <!-- end s-content__main -->

            </div> <!-- end row -->
        </div>
    </section> <!-- s-content -->


{% endblock %}

