{% extends "base/layout.html" %}
{% load static %}
{% include 'base/components/scripts.html' %}
{% block title %}Alt Kategoriler - {{ block.super }}{% endblock %}

{% block body %}

    <section class="s-content">

        <div class="row masonry-wrap">
            <div class="masonry">
                <div class="grid-sizer"></div>
                {% if subcategory_list %}
                    {% for post in subcategory_list %}
                        <article class="masonry__brick entry format-standard" data-aos="fade-up">

                            <div class="entry__thumb">
                                <a href="{% url 'posts:detail' slug=post.slug %}" class="entry__thumb-link">
                                    <img src="images/thumbs/masonry/tulips-400.jpg"
                                         srcset="images/thumbs/masonry/tulips-400.jpg 1x, images/thumbs/masonry/tulips-800.jpg 2x"
                                         alt="">
                                </a>
                            </div>

                            <div class="entry__text">
                                <div class="entry__header">


                                    <div class="entry__date" style="text-align: right">
                                        <a href="{% url 'posts:detail' slug=post.slug %}">{{ post.created_date|date:"F d, Y" }}</a>

                                    </div>
                                    <h1 class="entry__title"><a
                                            href="{% url 'posts:detail' slug=post.slug %}">{{ post.title }}</a>
                                    </h1>

                                </div>

                                <div class="entry__excerpt">
                                    <p>
                                        {{ post.description|striptags|truncatewords:28|safe }}
                                    </p>
                                </div>


                                <div class="entry__content">
                                    <a href="{% url 'index' %}" class="entry__profile-pic">
                                        <img class="avatar" src="{{ post.author.profile.avatar.url }}" alt="">
                                    </a>

                                    <div class="entry__date">
                                        <a href="{% url 'user:profile' slug=post.author %}">&nbsp{{ post.author }}</a>

                                    </div>

                                    <hr>


                                    <div class="entry__meta">
                            <span class="entry__meta-links">
                                {% for tag in post.tag.all|slice:":3" %}
                                    <a href="{% url 'categories:categories' slug=tag.slug %}">


                                   <img src="{{ tag.sub_category_image.url }}" alt="" title="{{ tag }}"
                                         style="width: 10%">
                                </a>
                                {% endfor %}
                            </span>
                                    </div>

                                </div>
                            </div>

                        </article> <!-- end article -->
                    {% endfor %}
                {% else %}

                    </div> <!-- end masonry -->
                    <h3 class="text-center">Bu kategoride herhangi bir post bulunmuyor..
                        <a href="{% url 'posts:add_post' %}">Hemen oluşturun :)</a>
                    </h3>

                {% endif %}
        </div> <!-- end masonry-wrap -->


    </section> <!-- s-content -->

{% endblock body %}